body {
  font-family: Helvetica;
  text-align: center;
}

#header h1 {
  color: white;
  font-size: 70px;
}

#header nav ul li {
  font-size: 18px;
  list-style-type: none;
}

a {
  color: white;
}

#footer {
  color: white;
  font-size: 11px;
  background-color: dimgray;
}
