body {
  font-family: Helvetica;
  text-align: center;
}

a {
  color: white;
  font-weight: bold;
}

#header,
#separator {
  background-image: url("./../images/the-flatiron-building.png");
  background-size: cover;
}

#header h1 {
  color: white;
  font-size: 70px;
}

#header nav ul li {
  font-size: 18px;
  list-style-type: none;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

#separator h3 {
  color: white;
  font-size: 23px;
}

p {
  font-size: 14px;
}


#footer {
  color: white;
  font-size: 11px;
  text-align: left;
  background-color: dimgray;
}
